@media (min-width: 1024px) {
    .logo { /*ajustando posição da lua para tablets*/
        margin-top: -80vh;
        margin-left: -80vw;
        width: 450px;
    }
    #hero h2{
        font-weight: bold;
        font-size: 30px;
    }
    #hero h1{
        font-weight: bold;
        font-size: 50px;
    }
    #hero > div a {
        width: 200px;
    }
    .alinhamentoConteudo { /*ajuste de lainhamento de conteudo da area main*/
        width: 720PX;
    }
    footer > section img { /*ajuste de icones do contato footer*/
    width: 40px;
}
}