*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /*textos globais*/
header > h1, h2, h3 {
    color: whitesmoke;
    text-align: center;
}

    /*para um scroll mais suave ao clicar nos links internos*/
html{
    scroll-behavior: smooth;
}

    /*configurações para celulares*/
@media (min-width: 0px) {
        body{
            height: 100vh;
            display: grid;
            background-repeat: no-repeat;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            'hero hero'
            'conteudo conteudo'
            'rodape rodape';
            ;
        }
}
header { 
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    grid-area: hero;
    background-image: url(/imagens/layout-Destaque-mobileFundo-Destaque.png);
    background-size: cover;
}
#hero { /*container de alinhamento dos itens da area destaque*/
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}
#hero h1{
    color: #FFC857;
    font-size: 40px;
    font-weight: bold;
}
    /*lua da sessão hero*/
.logo {
    position: absolute;
    opacity: 0.9;
    margin-top: -90vh;
    margin-left: -70vw;
}
.astronauta { /*astronauta sessão hero*/
    position: absolute;
    opacity: 0.9;
    margin-top: -80vh;
    margin-left: -60vw;
    width: 90px;
}
#hero > div { /*div que separa os titulos e os botões na sessão hero*/
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#hero > div a { /*botões dentro da div da sessão hero*/
    width: 150px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: #221E22;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
}
#hero > div a:hover {
    transition: .3s;
    text-decoration: underline;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 1px 3px 10px  whitesmoke;
}

/*area do conteudo*/
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    opacity: 0.9;
    margin-top: 100vh;
    grid-area: conteudo;
    background-color: whitesmoke;
}
.alinhamentoConteudo { /*container de alinhamento dos itens da area conteudo*/
    display: grid;
    width: 100vw;
    padding: 20px;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    'sobre'
    'primeiroPasso'
    'segundoPasso'
    'terceiroPasso';
    ;
}
.alinhamentoConteudo > div { /*alinhando conteudo dentro de cada div da area main*/
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.alinhamentoConteudo > div h1 {
    color: #ECA72C;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(40, 3, 75);
    text-underline-offset: 10px;
    padding: 20px;
}
.alinhamentoConteudo > div p {
    text-align: justify;
    text-indent: 10px;
    font-weight: 600;
    color: #221E22;
    padding-bottom: 10px;
}
.alinhamentoConteudo > div ul {
    list-style: none;
    list-style-type: square;
}
#sobre {
    grid-area: sobre;
}
#primeiroPasso {
    padding-top: 20px;
    grid-area: primeiroPasso;
}
#segundoPasso {
    padding-top: 20px;
    grid-area: segundoPasso;
}
#terceiroPasso {
    padding-top: 20px;
    grid-area: terceiroPasso;
}

/*roda pé*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    z-index: 2;
    grid-area: rodape;
    background-color: #221E22;
    padding: 10px;
}
footer > h1 {
    text-align: center;
    color: whitesmoke;
}
footer > #contatoFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
footer > section img {
    width: 30px;
}
footer > section img:hover {
    transition: .3s;
    box-shadow: 1px 3px 10px  whitesmoke;
}
#botaovoltar {
    width: 30px;
    border: none;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
}
#botaovoltar:hover {
    transition: .3s;
    box-shadow: 1px 3px 10px  whitesmoke;
}